#exclude js files from the commits.
*.js
#exclude individual folders
Insuredge/
composer.json
library/     
assignments.xlsx
composer.lock
metavisuo/
pictures/
carpark/
documentation/
mutall_data/
rentize/
chama/
kentionary/
mutall_rental/
vendor/
ranics/
# 
/tracker-p/nbproject/private/
/tracker/v/mark/
/tracker/v/questionnare
/tracker/v/Tabble
/tracker/v/test
/tracker/v/test1
/tracker/v/temp
/tracker/v/whatsapp
/tracker/nbproject/private/
tracker/v/test/main.ts
